body {background-color: #F5F5F5; //#B5E7DD; background-position: 50% 50%;}
form {font-family: Verdana; font-size: small;}
table {margin-top: 100px;}
hr {width: 500px;}
.buttonCentre {margin-left:}
.top-line {margin-top: 200px;}
.lower-line {margin-bottom: 200px;}
.signIn {margin-left: 140px;}
li {text-align: center;}
select {margin-left: 350px;}